* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --width-of-switch: 3.5em;
  --height-of-switch: 2em;
  /* size of the icon : sun & moon */
  --size-of-icon: 1.4em;
  /* inline padding for the switch */
  --slider-offset: 0.3em;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 52px;
}

.switch input {
  /* hide the input */
  width: 0;
  height: 0;
  opacity: 0;
}

.switch {
  display: block;
  position: relative;
  width: var(--width-of-switch);
  height: var(--height-of-switch);
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #f4f4f5;
  transition: 0.4s;
  border-radius: 30px;
}

.slider::before {
  position: absolute;
  content: "";
  height: var(--size-of-icon, 1.4em);
  width: var(--size-of-icon, 1.4em);
  border-radius: 20px;
  left: var(--slider-offset, 0.3em);
  top: 50%;
  transform: translateY(-50%);
  background: linear-gradient(40deg, #ff0080, #ff8c00 70%);
  transition: 0.4s;
}

input:checked + .slider {
  background: #303136;
}

input:checked + .slider::before {
  left: calc(100% - (var(--size-of-icon, 1.4em) + var(--slider-offset, 0.3em)));
  background: #303136;

  /* chnage the value of the second inset in boxshadow to change the angle and direction of the moon */
  box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
}
